<ion-view view-title="Vaanoli">
    <div class="card has-header player">
        <div class="item item-assertive item-divider">
            Currently Selected - {{vm.currentRadio.name?vm.currentRadio.name:'**select to play**'}}
        </div>
        <div>
            <div class="row">
                <button class="button button-outline button-assertive icon" data-ng-click="vm.stopToggle()" data-ng-class="{'ion-play':vm.isStopped || !!!vm.currentRadio, 'ion-stop':!vm.isStopped && vm.currentRadio}"></button>
                <div class="range range-assertive">
                    <i class="icon ion-volume-low"></i>
                    <input type="range" name="volume" data-ng-model="vm.volume">
                    <i class="icon ion-volume-high"></i>
                </div>
            </div>
        </div>
    </div>
    <ion-content class="has-banner has-footer has-subfooter">
        <ion-refresher pulling-text="Pull to update" data-on-refresh="vm.updateRadio()">
        </ion-refresher>
        <div class="list padding">
            <a href="#" class="item item-icon-left" data-ng-repeat="radio in vm.radios" data-ng-click="vm.play(radio)" data-ng-class="{'active':radio.id === vm.currentRadio.id}">
                <i class="icon ion-radio-waves"></i>
                {{radio.name}}
            </a>
        </div>

    </ion-content>
</ion-view>
