.player {
    position: absolute;
    margin-top: 10px;
    margin-bottom: 0;
    left: 0;
    right: 0;
}

.has-banner {
    top: 160px !important; /*this may cause problem in iphone*/
}

.item.active {
    color: #ef473a;
    font-weight: 700;
    background-color: whitesmoke;
}

/*Popup's classes
.popup-head
.popup-title 
.popup-body
.popup-buttons 
*/


.popup-head {
    background: #ef473a !important;
    font-weight:700 !important;
}

.popup-title {
    color: #fff !important;
}
