.button-player {
    -moz-animation: none !important;
    -o-animation: none !important;
    -webkit-animation: none !important;
    animation: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -o-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    -webkit-transition: none !important;
    transition: none !important;
}

.has-banner {
    top: 200px !important; /*this may cause problem in iphone*/
}

.item.active {
    color: #ef473a;
    font-weight: 700;
    background-color: whitesmoke;
}

.margin-top-5 {
    margin-top: 5px !important;
}

.margin-left-10{
    margin-left:10px !important;
}

/*Popup's classes
.popup-head
.popup-title 
.popup-body
.popup-buttons 
*/

.ion-ios-skipforward {
    font-size: 48px !important;
}

.ion-ios-skipbackward {
    font-size: 36px !important;
}

.popup-head {
    background: #ef473a !important;
    font-weight: 700 !important;
}

.popup-title {
    color: #fff !important;
}

.popup-body {
    padding: 0 !important;
}

/*custom animations - start*/

/*.radio-item.ng-enter {
    -webkit-animation: fadeInLeft 1s;
    animation: fadeInLeft 1s;
}

.radio-item.ng-enter-stagger {
  -webkit-animation-delay:50ms;
  animation-delay:50ms;
  -webkit-animation-duration:0;
  animation-duration:0;
}*/
/*custom animations -end*/
