<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="let item of items | async" (click)="itemTapped($event, item)">
      <ion-icon [name]="item.icon.ionicIcon" item-left></ion-icon>
      <h2>{{item.description}}</h2>
      <p>
        Due: {{item.nextDueOn | date:'dd/MM/yyyy'}} | <ion-badge item-end color="danger">{{item.scheduleType}}</ion-badge>
      </p>
    </button>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>
</ion-content>